.js-counter {
  position: relative;

  input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(232, 231, 223, 0.6);
    border-radius: 6px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    height: 55px;
    position: relative;
    z-index: 2;
  }

  button {
    position: absolute;
    z-index: 4;
    top: 48%;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    color: #A3A3AC;

    &:hover {
      color: #C94F6E;
    }

    &.add {
      right: 8px;
    }

    &.sub {
      left: 8px;
    }
  }
}