<section class="catalog">
    <div class="container">

        <div class="catalog__filters"></div>
        <div class="catalog__grid">
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-0.png" alt=""></div>
                <div class="catalog__item__name">Букет «Гортензия»</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-1.png" alt=""></div>
                <div class="catalog__item__name">Букет «Пионы»</div>
                <div class="catalog__item__price">1 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-2.png" alt=""></div>
                <div class="catalog__item__name">Букет «Роза кустовая»</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-3.png" alt=""></div>
                <div class="catalog__item__name">Букет «Астельмерия»</div>
                <div class="catalog__item__price">1 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-4.png" alt=""></div>
                <div class="catalog__item__name">Букет «Ирисы»</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-5.png" alt=""></div>
                <div class="catalog__item__name">Букет «Тюльпаны»</div>
                <div class="catalog__item__price"><s>1 320 ₽</s> 1 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-6.png" alt=""></div>
                <div class="catalog__item__name">Букет «Весеннее настроение»</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-7.png" alt=""></div>
                <div class="catalog__item__name">Букет «Нежность»</div>
                <div class="catalog__item__price"><s>3 320 ₽</s> 2 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-8.png" alt=""></div>
                <div class="catalog__item__name">Букет «Розы Пионовидные»</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-9.png" alt=""></div>
                <div class="catalog__item__name">Букет «Розы Голландия»</div>
                <div class="catalog__item__price"><s>4 320 ₽</s> 3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-10.png" alt=""></div>
                <div class="catalog__item__name">Букет «Весеннее настроение»</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/products/img-11.png" alt=""></div>
                <div class="catalog__item__name">Букет «Нежность»</div>
                <div class="catalog__item__price"><s>2 320 ₽</s> 2 120 ₽</div>
            </div>
        </div>
        <button class="btn-gradient catalog__show-more-btn">
            Посмотреть больше товаров
        </button>
    </div>
</section>