<section class="cb-form">
    <div class="cb-form__container custom-container">
        <div class="cb-form__form-block">
            <h2 class="h2 text-center text-md-start">Заказать доставку с нами очень просто</h2>
            <p class="text-body-md text-color-muted mb-30 mb-md-20">Наши композиции удивляют, вдохновляют, и помогают завоевывать сердца.
                Заботимся о каждом цветке, чтобы он
                был максимально свежим и радовал вас как можно дольше в наших букетах. Мы делаем это с любовью и
                индивидуально для вас.</p>
            <p class="text-body-lg text-color-secondary">Доставка по городу 200 руб.</p>
            <p class="text-body-xl text-color-primary"><strong>Бесплатно</strong> — при заказе от 3000 руб</p>
            <form>
                <div class="form-input --required">
                    <input type="text" name="name" id="name" required placeholder="Ваше имя">
                </div>
                <div class="form-input --required">
                    <input type="text" name="phone" id="phone" required data-inputmask="'mask':'+7(999)999-99-99'"
                           placeholder="+7 999 999 99 99">
                </div>
                <button class="btn-gradient">
                    Жду звонка!
                </button>
            </form>
            <p class="text-body-md text-color-primary mb-30 mb-md-20">
                Отправляя данные формы, вы соглашаетесь с условиями <a href="#" class="link">Публичной оферты</a>
            </p>
        </div>
        <div class="cb-form__illustration">
            <div class="colored">
                <img src="./images/cb-bouquet.png" alt="">
            </div>
            <img src="./images/cb-bouquet.png" alt="" class="grayed">
        </div>
    </div>
</section>