<section class="interesting">
    <div class="container">
        <h2 class="h2 text-center">вам также может быть интересно</h2>
        <div class="interesting__menu">
            <div class="interesting__menu__stage">
                <div class="interesting__menu__outer">
                    <a href="#" class="interesting__menu__item" aria-expanded="true">Мягкие игрушки</a>
                    <a href="#" class="interesting__menu__item" aria-expanded="false">Горшечные растения</a>
                    <a href="#" class="interesting__menu__item" aria-expanded="false">Открытки, конверты</a>
                    <a href="#" class="interesting__menu__item" aria-expanded="false">Свечи, ароматы для дома</a>
                </div>
            </div>
        </div>
        <div class="interesting__slider owl-carousel owl-default owl-nav-absolute" id="interesting-slider">
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-0.png" alt=""></div>
                <div class="catalog__item__name">Медвежонок</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-1.png" alt=""></div>
                <div class="catalog__item__name">Котенок</div>
                <div class="catalog__item__price"><s>4 320 ₽</s> 3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-2.png" alt=""></div>
                <div class="catalog__item__name">Зайчик</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-3.png" alt=""></div>
                <div class="catalog__item__name">Щенок</div>
                <div class="catalog__item__price"><s>2 320 ₽</s> 2 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-0.png" alt=""></div>
                <div class="catalog__item__name">Медвежонок</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-1.png" alt=""></div>
                <div class="catalog__item__name">Котенок</div>
                <div class="catalog__item__price"><s>4 320 ₽</s> 3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-2.png" alt=""></div>
                <div class="catalog__item__name">Зайчик</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-3.png" alt=""></div>
                <div class="catalog__item__name">Щенок</div>
                <div class="catalog__item__price"><s>2 320 ₽</s> 2 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-0.png" alt=""></div>
                <div class="catalog__item__name">Медвежонок</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-1.png" alt=""></div>
                <div class="catalog__item__name">Котенок</div>
                <div class="catalog__item__price"><s>4 320 ₽</s> 3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-2.png" alt=""></div>
                <div class="catalog__item__name">Зайчик</div>
                <div class="catalog__item__price">3 120 ₽</div>
            </div>
            <div class="catalog__item">
                <div class="catalog__item__image"><img src="./images/interesting-products/img-3.png" alt=""></div>
                <div class="catalog__item__name">Щенок</div>
                <div class="catalog__item__price"><s>2 320 ₽</s> 2 120 ₽</div>
            </div>
        </div>
    </div>
</section>






