<section class="opportunities">
    <div class="container">
        <h2 class="h2">Наши преимущества</h2>
        <div class="opportunities__grid">
            <div class="opportunities__item">
                <div class="icon">
                    <div class="icon-inner"><img src="./images/opportunities/piggy-bank.svg" alt=""></div>
                </div>
                <div class="main">
                    <div class="title">Удобная система лояльности</div>
                    <div class="text">С каждой покупки накапливается 5% бонусов, которые вы можете потратить на любой
                        товар
                        в нашем магазине при последующей покупке.
                    </div>
                </div>
            </div>
            <div class="opportunities__item">
                <div class="icon">
                    <div class="icon-inner"><img src="./images/opportunities/fresh.svg" alt=""></div>
                </div>
                <div class="main">
                    <div class="title">Самые свежие цветы</div>
                    <div class="text">Прямые поставки 2 раза в неделю приходят к нам из Голландии и Эквадора, Кении и
                        Колумбии, Коста-Рики и Израиля.
                    </div>
                </div>
            </div>
            <div class="opportunities__item">
                <div class="icon">
                    <div class="icon-inner"><img src="./images/opportunities/24-hours.svg" alt=""></div>
                </div>
                <div class="main">
                    <div class="title">Букеты для вас 24/7</div>
                    <div class="text">У нас работает собственная служба доставки, которая передает адресатам цветы в
                        Омске
                        24 часа в сутки 7 дней в неделю
                    </div>
                </div>
            </div>
            <div class="opportunities__item">
                <div class="icon">
                    <div class="icon-inner"><img src="./images/opportunities/honest.svg" alt=""></div>
                </div>
                <div class="main">
                    <div class="title">Искренний сервис</div>
                    <div class="text">Мы стараемся чаще делать приятные подарки нашим клиентам. Перед каждой отправкой -
                        отправляем фото букета, чтобы вы наверняка остались довольны покупкой
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







