<section class="promo">
    <div class="promo-block custom-container">
        <div class="promo__text-slider owl-carousel owl-default" id="promo-text-slider">
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>Свечи</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">Цветы,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>Свечи</span>
                    <span>кофе</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">кофе,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>подарки</span>
                    <span>Свечи</span>
                </div>
                <span class="first-line">подарки,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>Свечи</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">Свечи,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>подарки</span>
                    <span>Свечи</span>
                </div>
                <span class="first-line">Цветы,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>Свечи</span>
                    <span>кофе</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">кофе,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>Свечи</span>
                    <span>подарки</span>
                    <span>кофе</span>
                </div>
                <span class="first-line">подарки,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>подарки</span>
                    <span>Свечи</span>
                </div>
                <span class="first-line">Свечи,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>Свечи</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">кофе,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>Свечи</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">подарки,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>Свечи</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">Свечи,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
            <div class="promo__text-block">
                <div class="categories">
                    <span>кофе</span>
                    <span>Свечи</span>
                    <span>подарки</span>
                </div>
                <span class="first-line">подарки,</span>
                <span class="second-line">которые расскажут о вас</span>
                <span class="last-line">В Омске</span>
            </div>
        </div>
        <div class="promo__images-slider-container">
            <div class="owl-carousel owl-default" id="promo-images-slider">
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/promo.jpg" alt="">
                    </div>
                    <img src="./images/promo.jpg" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-1.png" alt="">
                    </div>
                    <img src="./images/products/img-1.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-2.png" alt="">
                    </div>
                    <img src="./images/products/img-2.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-3.png" alt="">
                    </div>
                    <img src="./images/products/img-3.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-4.png" alt="">
                    </div>
                    <img src="./images/products/img-4.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-5.png" alt="">
                    </div>
                    <img src="./images/products/img-5.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-6.png" alt="">
                    </div>
                    <img src="./images/products/img-6.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-7.png" alt="">
                    </div>
                    <img src="./images/products/img-7.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-8.png" alt="">
                    </div>
                    <img src="./images/products/img-8.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-9.png" alt="">
                    </div>
                    <img src="./images/products/img-9.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-10.png" alt="">
                    </div>
                    <img src="./images/products/img-10.png" alt="" class="grayed">
                </div>
                <div class="promo__image-block">
                    <div class="colored">
                        <img src="./images/products/img-11.png" alt="">
                    </div>
                    <img src="./images/products/img-11.png" alt="" class="grayed">
                </div>
            </div>
        </div>
    </div>
</section>