body {
  background: #F5F5F5;
  font-family: 'Avenir Next', sans-serif;
}

a, button, input, textarea {
  transition: all .2s;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


